@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('@stream-io/video-react-sdk/dist/css/styles.css') layer(video-default);
@import './my-styles.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0px;
}

/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
  border-radius: 0px;
  
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
  border-style: solid;
  border-color: black;
}

.str-video__participant-details {
  color: black;
}

.str-video__menu-container {
  color: black;
  border-radius: 0px;
}

.str-video__notification {
  color: black;
  border-radius: 0px;
}

.str-video__participant-list {
  background-color: #bbf7d0;
  padding: 10px;
  border-radius: 0px;
  color: black;
  height: 100%;
  border-color: black;
  border-width: 4px;
  box-shadow: 6px 6px 0px rgba(0,0,0,1);
  
}

.str-video__call-controls__button {
  border-radius: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  box-shadow: 0px 0px 0px rgba(0,0,0,1);
}


.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* ==== clerk class override ===== */

.cl-userButtonPopoverActionButtonIcon {
  color: black;
}


.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid black;
}

.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: black;
}

/* =============================== */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* animation */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}